body {
  font-family: monospace, sans-serif;
}

.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card-title {
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text {
  color: hsl(0, 0%, 30%);
}

.center-div {
  text-align: center;
}

.student {
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
  margin-bottom: 10px;
}

.student p {
  margin: 0;
}

.welcome-msg {
  font-size: 2.5em;
  background-color: hsl(120, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.logout-msg {
  font-size: 2.5em;
  background-color: hsl(0, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  border: 3px solid;
  text-align: center;
  background-color: hsl(185, 100%, 50%);
  border-radius: 5px;
  margin-bottom: 10px;
}

.list-items {
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 25%);
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.list-items li:hover {
  color: hsl(0, 0%, 55%);
}
